.user{
    margin-top: 80px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    
}

.line{
    border-top: 1px solid #238ACC;
}

.user-avatar-big{
    position: absolute;
    top : 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1)
}
.user-avatar-big img{
    width: 100%;
    border-radius: 50%;
}

.username-big{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%,-95%);
}
.username-big span{
    font-size: 2rem;
    font-weight: 500 
}

.stats.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats-posts,.stats-followers,.stats-likes{
    display: flex;
    flex-direction: column;
}


.stats-posts,.stats-followers{
    border-right: 1px solid rgba(0,0,0,0.1);
}

.posts-counter-title,.followers-counter-title,.likes-counter-title{
    font-size: 1.6rem;
    padding: 0 1.2rem;
    font-weight: 500;
}
.posts-counter,.followers-counter,.likes-counter{
    font-size: 2rem;
    padding: 0 1.2rem;
    padding-top: 1.8rem;
    font-weight: 600;
}


.user-config-container{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 5rem;
    height: 50vh;
}

.user-config-nav h1{
    display: inline-block;
    color: #238ACC;
    position: relative;
    left: 40%;
    transform: translate(-40%,0);
    padding: 10px 0 ;
}
.user-config{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.user-config form input{
    border-top:none;
    border-left: none;
    border-right: none;
    outline: none;
    background : #FFF;
}

.user-config form{
    display: inline-block;
    padding: 2rem;
    border-radius: 10px;
    
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1)
}

.user-config form span{
    font-size: 1.4rem;
    font-weight: bold;

}


.user-config form input{
    height: 2rem;
    width: 400px;
}
.input-enable{
    border: 1px solid rgba(0,0,0,0.1);
}
.input-enable:focus{        
    border-bottom: 1px solid #238ACC;
}

.input-error{

    border: 1px solid red;
}
.user-config-btn{
    display: flex;
    width : 100%;
    justify-content: flex-end;
    padding-top: 20px;
}

.user-config-btn button{
    background : #238ACC;
    color: #fff;
    font-size: 1.2rem;
    border:none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}

.disable{
    display: none;
}


