.blog-items{
    width: 60%;
    height: 100vh;
    position: relative;
    left: 15%;
}

.blog-nav{
    width: 100%;
    height: 60px;
   }

.blog-nav.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.blog-nav h3{
    padding: 0 20px;
    margin: 0;
    font-size: 1.8rem;
    color: #CC2323}
.blog-post  {
    margin-top: 10px;
    height: 25%;
}
.blog-post .line-break{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: block;
    padding-bottom: 5px;
}
.blog-post.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
.blog-post .post-title a{
    overflow: hidden;
    color:#238ACC ;
    font-size: 1.5rem;
}
.blog-post .post-title a:hover{
	color: #FF6B52
}

.blog-post .post-contents  span{
    color: #424242;
    font-size: 1.2rem;
}

.blog-post .post-contents{
    overflow:hidden;
    align: left;
}

.blog-post .post-tagged .tag-label{
    background: #9A9A9A;
    border-radius: 20px;
    padding: 5px 12px;
    margin-right: 20px;
}
.blog-post .post-tagged .tag-label a{
    color: #FFFFFF;
    font-weight: 600
}
.blog-post .post-author.flex{
    display: flex;
    flex-direction: row;
    align-items: center
} 
.blog-post .post-author .author-avatar{
    width: 32px;
    height: 32px;
    background: none;
    margin-right: 5px;
}

.blog-post .post-author .author-avatar img{
    width: 100%;
}
.blog-post .post-author .author-post-stats.flex{
    display: flex;
    flex-direction: column;
} 
.blog-post .post-author .author-post-stats .author-post-stats-day-created span{
    color: rgba(0,0,0,0.5)
}
.blog-post .post-author .author-post-stats .author-post-stats-name a{
	color: #FF6B52;
	font-weight: 650;
}
.blog-post .post-author .author-post-stats .author-post-stats-name a:hover{
	color:#238ACC;
}

/*----------------------------Most Recent Posts-------------------------------*/

.recent-posts-container{
    padding: 20px;
    width: 20%;
    height: 45%;
    position: fixed;
    top: 20%;
    left:98%;
    transform: translate(-98%,-20%);
    border: 1px solid #238ACC;
    border-radius: 20px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}


.recent-post-title{
    text-align: center;
    width: 100%;

}
.recent-posts-title span{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 20px;
}

.recent-posts-contents{
    width: 100%;
    padding: 0 1rem;
}

.recent-posts.contents.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.star-icon{
    width: 32px;
    height: 100%;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.star-icon i{
    color: yellow;
    font-size: 28px;
}
.recent-post{
    width: 100%;
}

.recent-post.flex{
    display: flex;
    flex-direction: row;
}
.recent-post-author{
    padding: 0 2rem;
}
.recent-post-author.flex{
    display: flex;
    flex-direction: column
}

.recent-post-author-name a{
    font-weight: 600;
    color:#FF6B52; 
}
.recent-post-title{

    text-align: left;
    padding: 0; 
}
.recent-post-title a{
    font-weight: 700;
    color: #238ACC

}
.recent-post-day-created{
    color: rgba(0,0,0,0.5)
}













































/*
@media only screen and (min-width: 1441px){
    .blog-contents{
        width: 60%;
    }
}
@media only screen and (max-width: 1440px){
    .blog-contents{
        width: 80%;
    }

}
@media only screen and (max-width: 1024px){
    .blog-contents{
        width: 98%;
    }
}
@media only screen and (max-width: 1023px){
    .blog-contents{ 
        width: 100%;
        height:35rem;
        flex-direction: column;
        justify-content: center;
    }
*/   




