 body {
     font-family: 'Open Sans Condensed', sans-serif;
    background: #FFFFFF; 
}


.root{
    background: #FFFFFF;
}
 
 .register {
     height: 965px;
     background: #eee;
     padding: 1em;
 }
 
 .noselect {
     -webkit-touch-callout: element;
     /* iOS Safari */
     -webkit-user-select: element;
     /* Safari */
     -khtml-user-select: element;
     /* Konqueror HTML */
     -moz-user-select: element;
     /* Firefox */
     -ms-user-select: element;
     /* Internet Explorer/Edge */
     user-select: element;
     /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
 }
.main-content{
    margin-top:90px;
} 
.circle-avatar{
    border-radius: 50%;
}
