body{
    background: #FFFFFF;
    padding:0;
    margin: 0;
}

.post-container code{
    background:#f7f7f7;
    font-size: 16px
}

 .post-container pre{
    padding: 10px 10px;
    background: #f7f7f7;
    overflow-x: auto
}

 .post-container p{
    font-size: 16px;
    
}
.post-container h1{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #238ACC;
}

.post-container h2{
    color: #238ACC;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}




.post-content img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
*{
    font-family: "OpenSans", sans-serif;
}

.post-header{
    padding: 20px 0;
}
.post-header strong{
    color:#FF6B52;
    font-size: 2.8rem;
}
.author{
    margin-top: 20px;
}
.author-avatar{
    width:30px;
    height: 30px;
    border-radius: 50%;
    display: inline;
    vertical-align: middle;
}
.author-date-created{
    line-height: 30px;
    display: inline;
    font-weight: 100;
    font-size: 14px;
    margin-left:1%;
    opacity: 0.5;
}





